body {
      margin: 0;
      padding: 0;
      background: #0060a7;
    }

    a {
    display: block;
    color: #005cff;
    font-weight:bold;
    }
    
    header, footer {
      background-color: #0060a7;
      color: white;
      padding: 5px;
      font-weight: bold;
    }
    
    
    footer {
      text-align: center;
    }

    main {
      background-color: #fff;
      padding: 5px;
      border-top: 4px solid #00c3ff;
      border-bottom: 4px solid #00c3ff;
    }
    
    h3 {
    
    }
